@import url(http://fonts.googleapis.com/css?family=Oxygen);

* {
	font-family: 'Oxygen', sans-serif;
	font-size: 1em;
}

/* CSS layout */
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#masthead {
	min-width: 600px;
	background:#003366;
	height:100px;
}

#logo {
	float: left;
	width: 200px;
	height:100px;
}

#header {
	text-align: center;
	height:100px;
	font-size:550%;
	color:white;
	vertical-align:baseline;
}

#container {
	clear: both;
	min-width: 600px;
	height:1000px;
}

#high_score {
	position: absolute;
	background-color: rgb(180, 210, 250);
	
	left: 0px;
	right: 75%;
	bottom: 0px;
	top: 100px;
	
	overflow: hidden;
}

#teams {
	position: relative;
	height:auto;
}

#map_canvas {
	position: absolute;
	
	right: 0px;
	left: 25%;
	bottom: 0px;
	top: 100px;
}

.team {
	position: relative;
	clear: both;
	border-bottom:thin;
	border-bottom-color:gray;
	border-bottom-style:solid;
	height: 70px;
	padding: 10px;
	font-size: large;
	color: black;
}

.team .name {
	position: absolute;
	left: 0px;
	display: block;
	font-weight: bold;
	padding: 20px;
}

.team .points-label {
	position: absolute;
	right: 20px;
	text-align: right;
}

.team .points {
	font-size: 2em;
	margin-right: 0.5em;
}
